<!DOCTYPE html>
<html>
<head>
  <title>Magic Book</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>



  <div class="menu">
    <nav>
      <ul>
        <li> <%= link_to('Home', root_path) %> </li>      
        <li> <%= link_to('Recipes', recipes_path) %> </li>
        <li> <%= link_to('Elements', categories_path) %> </li>
        <li> <%= link_to('Ingredients', ingredients_path) %> </li>
        <li><%=link_to 'Quantities', quantities_path %></li>  
      </ul>
    </nav>
  </div>

  <audio controls>
    <source src="magic.mp3" typw="mp3"
  </audio>

</body>
</html>